## Запуск библиотек

In [4]:
pip install sklearn # при необходимости устанавливаем

Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [5]:
# для нормализации, стандартизации
from sklearn import preprocessing

In [6]:
# импортируем библиотеки модели для создания и обучения модели
from sklearn.ensemble import RandomForestRegressor

In [7]:
# импортируем библиотеки для оценки точности модели
from sklearn import metrics

In [8]:
# импортируем библиотеки для разделения датасета
from sklearn.model_selection import train_test_split

# Ознакомление с данными

Работаем с датасетом, в котором содержатся сведения о 515 000 отзывов на отели Европы. Модель, которую вы будете обучать, должна предсказывать рейтинг отеля по данным сайта Booking на основе имеющихся в датасете данных. Изученные нами навыки разведывательного анализа помогут улучшить модель.

Скачайте файл hotels.csv и загляните в него.

Первоначальная версия датасета содержит 17 полей со следующей информацией:
- hotel_address — адрес отеля;
- review_date — дата, когда рецензент разместил соответствующий отзыв;
- average_score — средний балл отеля, рассчитанный на основе последнего
комментария за последний год;
- hotel_name — название отеля;
- reviewer_nationality — страна рецензента;
- negative_review — отрицательный отзыв, который рецензент дал отелю;
- review_total_negative_word_counts — общее количество слов в отрицательном отзыв;
- positive_review — положительный отзыв, который рецензент дал отелю;
- review_total_positive_word_counts — общее количество слов в положительном отзыве.
- reviewer_score — оценка, которую рецензент поставил отелю на основе своего опыта;
- total_number_of_reviews_reviewer_has_given — количество отзывов, которые рецензенты дали в прошлом;
- total_number_of_reviews — общее количество действительных отзывов об отеле;
- tags — теги, которые рецензент дал отелю;
- days_since_review — количество дней между датой проверки и датой очистки;
- additional_number_of_scoring — есть также некоторые гости, которые просто поставили оценку сервису, но не оставили отзыв. Это число указывает, сколько там действительных оценок без проверки.
- lat — географическая широта отеля;
- lng — географическая долгота отеля.

In [9]:
import pandas as pd

hotels = pd.read_csv('/content/hotels.csv')
hotels.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,9/22/2015,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,11,8,10.0,"[' Leisure trip ', ' Solo traveler ', ' Standa...",681 day,48.888697,2.394540
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,3/5/2016,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,20,10,9.6,"[' Business trip ', ' Couple ', ' Standard Dou...",516 day,52.385601,4.847060

✍ Ответы на вопросы ниже помогут вам лучше сориентироваться в файле, а также покажут некоторые важные особенности, которые необходимо будет учесть при создании модели.

# Анализируем данные таблицы hotels

## Задание 2.1

В каких столбцах данные содержат пропущенные значения?

In [10]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [11]:
# ищем в столбцах данные, содержащие пропущенные значения
hotels.isnull().sum()

hotel_address                                    0
additional_number_of_scoring                     0
review_date                                      0
average_score                                    0
hotel_name                                       0
reviewer_nationality                             0
negative_review                                  0
review_total_negative_word_counts                0
total_number_of_reviews                          0
positive_review                                  0
review_total_positive_word_counts                0
total_number_of_reviews_reviewer_has_given       0
reviewer_score                                   0
tags                                             0
days_since_review                                0
lat                                           2448
lng                                           2448
dtype: int64

Только 2 столбца содержат пропуски в данных:
* lat;
* lng.

Или воспользуемся более лаконичным выводом (т.к. столбцов может быть еще больше в более сложной задаче)

In [12]:
# ищем в столбцах данные, содержащие пропущенные значения (более короткий способ)
cols_null = hotels.isnull().sum()
cols_null[cols_null > 0]

lat    2448
lng    2448
dtype: int64

## Задание 2.2

В каких столбцах данные хранятся в числовом формате?

In [13]:
# ищем в столбцах данные, содержащие числовые значения
digit_columns = [col for col in hotels.columns if hotels[col].dtypes != 'object']
digit_columns

['additional_number_of_scoring',
 'average_score',
 'review_total_negative_word_counts',
 'total_number_of_reviews',
 'review_total_positive_word_counts',
 'total_number_of_reviews_reviewer_has_given',
 'reviewer_score',
 'lat',
 'lng']

## Задание 2.3

В каких столбцах данные представляют собой строки?

In [14]:
# ищем в столбцах данные, содержащие строковые значения:
object_columns = [col for col in hotels.columns if hotels[col].dtypes == 'object']
object_columns

['hotel_address',
 'review_date',
 'hotel_name',
 'reviewer_nationality',
 'negative_review',
 'positive_review',
 'tags',
 'days_since_review']

## Задание 2.4

Напишите признак, представляющий собой дату.

Ответ к заданию 2.4 ниже:

 - Проанализировав таблицу hotels единственным столбцом содержащим формат записи в виде даты и время - является review_date

## Задание 3.1

Вопрос для размышления. По какой причине во время обучения модели возникла ошибка?
- Модель не может работать с параметрами по умолчанию. Параметры нужно настраивать вручную, а мы этого не делали. (False)

- Проблема в названиях столбцов: они слишком длинные, и там используются не только буквы, но и знаки подчёркивания. (False)

- Ошибка возникла при обработке столбца со строковыми значениями. Следовательно, для обучения модели все данные должны быть переданы только в числовом формате. (True)

## Задание 3.2

0.3

## Задание 4.2

Сколько уникальных названий отелей представлено в наборе данных?

In [15]:
num_uniq = hotels['hotel_name'].nunique()
print(f'В наборе {num_uniq} уникальных отелей.\n')

В наборе 1492 уникальных отелей.

## Задание 4.3

Ответьте на вопросы о дате размещения отзывов.

In [16]:
hotels['review_date'] = pd.to_datetime(hotels['review_date'], format='%m/%d/%Y')

In [17]:
hotels['review_date'].head()

0   2016-02-19
1   2017-01-12
2   2016-10-18
3   2015-09-22
4   2016-03-05
Name: review_date, dtype: datetime64[ns]

- Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd.

In [18]:
hotels['review_date'].max()

Timestamp('2017-08-03 00:00:00')

- Когда был оставлен самый первый отзыв? Введите ответ в формате yyyy-mm-dd.

In [19]:
hotels['review_date'].min()

Timestamp('2015-08-04 00:00:00')

## Задание 4.4

Сколько уникальных тегов представлено в наборе данных?

In [20]:
hotels['tags'][0]

"[' Leisure trip ', ' Couple ', ' Studio Suite ', ' Stayed 2 nights ', ' Submitted from a mobile device ']"

In [21]:
# Сколько уникальных тегов представлено в наборе данных?
tags = {}
for tag_list in hotels['tags']:
    for _tag in tag_list[3:-3].split(" ', ' "):
        if _tag not in tags:
            tags[_tag] = 1
        else:
            tags[_tag] += 1

# вывести все теги
# print(tags)

# вывести количество тегов
print(len(tags))

2368

## Задание 4.5

Какой тег представлен в наибольшем числе отзывов?

In [22]:
# счётчик
tag_cnt = 0

# переменная-накопитель - самый частый тег
tag_name = ''
for _tag in tags:
    # если встретили тег "пожирнее", переписываем соответствующие переменные:
    # сам тег (ключ словаря), и значение ключа (значение ключа)
    if tags[_tag] > tag_cnt:
        tag_name = _tag
        tag_cnt = tags[_tag]
print(tag_name, tag_cnt)

Leisure trip 313593

## Задание 4.6

Из тегов выясните, на сколько ночей чаще всего останавливаются путешественники в отелях.

In [23]:
for _tag in tags:
    if _tag.lower().find('night') >= 1:
    # if a.lower().find('night') > -1:
        print(_tag, tags[_tag])

Stayed 2 nights 100263
Stayed 1 night 145373
Stayed 3 nights 72000
Stayed 6 nights 7399
Stayed 4 nights 35748
Stayed 5 nights 15611
Stayed 8 nights 1910
Stayed 7 nights 5549
Stayed 10 nights 663
Stayed 14 nights 184
Stayed 19 nights 23
Stayed 13 nights 174
Stayed 9 nights 966
Stayed 17 nights 27
Stayed 11 nights 306
Stayed 27 nights 10
Stayed 12 nights 217
Stayed 15 nights 87
Stayed 21 nights 19
Stayed 18 nights 24
Stayed 16 nights 38
Stayed 26 nights 6
Special Offer Double Room 3 nights minimum 6
Stayed 24 nights 5
Stayed 30 nights 10
Stayed 22 nights 8
King Room with Knightsbridge View 8
Suite with Knightsbridge View 1
Stayed 23 nights 6
Stayed 28 nights 7
Stayed 20 nights 17
Junior Suite Give me the night 4
Stayed 25 nights 4
Knightsbridge Suite 1
Stayed 29 nights 3

Делаем вывод: чаше всего останавливаются на одну ночь.

## Задание 4.7

Какое значение метрики MAPE вам удалось получить на этом этапе?

In [24]:
# убираем признаки которые еще не успели обработать,
# модель на признаках с dtypes "object" или "datetime64[ns]"" обучаться не будет, просто выберим их и удалим
object_columns = [col for col in hotels.columns
    if ((hotels[col].dtypes == 'object') |
    (hotels[col].dtypes == 'datetime64[ns]'))
]
hotels.drop(object_columns, axis = 1, inplace=True)

# заполняем пропуски самым простым способом
hotels = hotels.fillna(0)

In [25]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)
X = hotels.drop(['reviewer_score'], axis = 1)
y = hotels['reviewer_score']

In [26]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [27]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.14127661579962594